/* footer start */

footer {
    /* background-color: rgba(217, 217, 217, 1); */
    color: #0a0a0a;

    .footer {
        padding: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    h3 {
        text-shadow: none;
    }
    section {
        padding: 0;
        background: none;
    }
    .text-black {
        color: #000 !important;
    }
}

.footer .section--title {
    width: fit-content;
}

.divider {
    margin-top: 5px;
    margin-bottom: 30px;
    height: 2px;
    background-color: rgba(104, 74, 74, 1);
    width: 85%;
}

.footer a {
    margin-right: 20px;
    color: #0a0a0a;
}

.footer a:hover {
    color: rgba(104, 74, 74, 1);
}

.footer a i,
.footer i {
    color: rgba(104, 74, 74, 1);
    font-size: 1.5rem;
}

.text--stay-connected {
    margin-bottom: 15px;
}

.copyright {
    margin-top: 50px;
    font-size: 0.825rem;
}

.footer li {
    margin: 15px 0;
    display: flex;
}

.footer li i {
    margin-right: 10px;
}
.footer .fas {
    margin-right: 10px;
    color: rgba(104, 74, 74, 1);
}

.footer a i:hover {
    color: #0a0a0a;
}

.map iframe {
    width: 100%;
    height: 100%;
}

.map {
    width: 380px;
    height: 220px;
}

@media (max-width: 1120px) {
    .map {
        width: 280px;
        height: 220px;
    }

    .footer {
        padding: 40px 20px;
    }
}

@media (max-width: 985px) {
    .footer {
        flex-wrap: wrap;
    }

    .footer .map {
        width: 100%;
        height: 300px;
        margin-top: 40px;
    }
}

@media (max-width: 695px) {
    .footer {
        padding: 20px !important;
        flex-direction: column-reverse;
    }

    .map {
        margin: 0 0 20px 0 !important;
    }

    .section--title {
        margin-top: 20px;
    }
}

a {
    text-decoration: none;
}

.navbarcontainer {
    background-color: rgba(104, 74, 74, 1);
    color: white;
}

.heading {
    color: rgba(105, 33, 33, 1);
    text-decoration: underline rgba(105, 33, 33, 1);
    text-underline-offset: 7px;
}

ol,
ul {
    padding: 0 !important;
    list-style: none !important;
}

.copyright {
    background-color: rgba(104, 74, 74, 1);
    color: white;
}

.copyright-text {
    background-color: rgba(104, 74, 74, 0.5);
    color: rgba(104, 74, 74, 1);
    display: flex;
    justify-content: center;
}
